.logo-container {
            display: flex;
            align-items: center;
        }
        
        .logo-foto {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #000000;
            margin-right: 15px;
            transition: transform 0.3s;
        }
        
        .logo-foto:hover {
            transform: scale(1.1);
        }
        
        .logo {
            font-size: 1.8rem;
            font-weight: 700;
            color: #000000;
            text-decoration: none;
        }
        
        .logo span {
            color: #fff;
        }       