.btn-whatsapp-circle {
    display: inline-flex;
    align-items: center;
    background-color: #DEB887;
    color: #FFFFFF;
    padding: 10px 20px 10px 15px; /* Ajuste o padding para um tamanho melhor */
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-whatsapp-circle:hover {
    background-color: #128C7E;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 5px; /* Aumentei o padding da caixa */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.whatsapp-icon {
    width: 20px;  /* Aumentei o tamanho do ícone */
    height: 20px; /* Aumentei o tamanho do ícone */
}